Repository sarg3nt/dynamic-dev-container, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

.github/CODEOWNERS:

# Default owner for all files
* @sarg3nt

# Infrastructure and container configuration
/.devcontainer/ @BrickCForce @Stanrofl @aidanleuck
/home/ @BrickCForce @Stanrofl @aidanleuck
/scripts/ @BrickCForce @Stanrofl @aidanleuck
/usr/ @BrickCForce @Stanrofl @aidanleuck

# Configuration files
.krew_plugins @BrickCForce @Stanrofl @aidanleuck
.packages @BrickCForce @Stanrofl @aidanleuck
requirements.txt @BrickCForce @Stanrofl @aidanleuck

# File type patterns
*.toml @BrickCForce @Stanrofl @aidanleuck
*.json @BrickCForce @Stanrofl @aidanleuck
*.sh @BrickCForce @Stanrofl @aidanleuck
*.md @BrickCForce @Stanrofl @aidanleuck

# GitHub configuration (must be at the end to override default)
/.github/CODEOWNERS @BrickCForce @Stanrofl @aidanleuck

Fix back button on Config summary screen
  install.py
Owners: @sarg3nt

Split Project Configuration screen into two columns
  install.py
  install.tcss
Owners: @sarg3nt

Add tool section links
  install.py
  install.tcss
Owners: @sarg3nt

Delete old install.sh
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Add function to detect no .gitconfig and help the user configure one.
  .devcontainer/scripts/initialize_command.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Fix mypy linting error about classes
  install.py
Owners: @sarg3nt

Do not hard code tool descriptions, load them from github
  install.py
Owners: @sarg3nt

Batch load the tool descriptions in the background
  install.py
Owners: @sarg3nt

Batch load tool descriptions to massively speed them up.
  install.py
Owners: @sarg3nt

Fix mypy linting errors
  install.py
Owners: @sarg3nt

Fix ruff errors
  install.py
Owners: @sarg3nt

Remove hard coded git urls for tools
  install.py
Owners: @sarg3nt

Use GITHUB_TOKEN if it exists
  install.py
Owners: @sarg3nt

Perform github token validation
  install.py
Owners: @sarg3nt

Remove hard coded psi-header text, get it dynamically
  install.py
Owners: @sarg3nt

Remove q to quit and improve welcome screen
  install.py
Owners: @sarg3nt

Set focus on first ellements
  install.py
Owners: @sarg3nt

Do not focus on version numbers or tool selector
  install.py
Owners: @sarg3nt

Fix mypy errors
  install.py
  requirements.txt
Owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

Cleanup unused filter settings code
  install.py
Owners: @sarg3nt

Clean up tool selection
  install.py
Owners: @sarg3nt

Remove unused code and fix linting errors
  .mise.toml
  install.py
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Remove static tool_language_mapping
  .mise.toml
  install.py
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Improve function documentation
  install.py
Owners: @sarg3nt

Remove github description loading code
  install.py
  tests/test_install.py
Owners: @sarg3nt

Refactor install.py into modules
  install.py
  installer/__init__.py
  installer/app.py
  installer/config.py
  installer/files.py
  installer/main.py
  installer/screens.py
  installer/tools.py
  installer/utils.py
Owners: @sarg3nt

Fix debug panel so spacing is all the same.
  install.tcss
  installer/screens.py
Owners: @sarg3nt

Move install.tcss to the installer folder
  installer/app.py
  installer/install.tcss
Owners: @sarg3nt

First item in a form should have focus
  installer/screens.py
Owners: @sarg3nt

Fix debug out put being generated when not in debug mode
  installer/app.py
  installer/screens.py
  installer/utils.py
Owners: @sarg3nt

Fixed title on welcome screen vertical spacing
  installer/screens.py
Owners: @sarg3nt

Fix python config section visibility
  installer/screens.py
Owners: @sarg3nt

Improve documentation to all functions
  installer/app.py
  installer/config.py
  installer/main.py
Owners: @sarg3nt

Break screen.py up into more files
  installer/app.py
  installer/main.py
  installer/screens.py
  installer/screens/__init__.py
  installer/screens/basic.py
  installer/screens/headers.py
  installer/screens/mixins.py
  installer/screens/project.py
  installer/screens/tools.py
  installer/tools.py
  installer/utils.py
  pybuild.py
Owners: @sarg3nt

Add copilot instructions
  .github/copilot-instructions.md
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Check in for transfer to on prem
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  install_old.py
  installer/config.py
  installer/install.tcss
  installer/main.py
  installer/screens/tools.py
  test_pyproject_functionality.py
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Fix tool version spacing
  .github/copilot-instructions.md
  installer/install.tcss
  installer/screens/tools.py
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Fix debug output corrupting TUI Fix version links not working
  installer/main.py
  installer/screens/tools.py
  installer/utils.py
Owners: @sarg3nt

Reverting to old single file
  install.py
  install.tcss
  install_new.py
  install_old.py
  installer/screens/tools.py
Owners: @sarg3nt

Improve label colors and fix some spacing issues
  install.py
  install.tcss
Owners: @sarg3nt
