Repository sarg3nt/dynamic-dev-container, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

.github/CODEOWNERS:

# Default owner for all files
* @sarg3nt

# Infrastructure and container configuration
/.devcontainer/ @BrickCForce @Stanrofl @aidanleuck
/home/ @BrickCForce @Stanrofl @aidanleuck
/scripts/ @BrickCForce @Stanrofl @aidanleuck
/usr/ @BrickCForce @Stanrofl @aidanleuck

# Configuration files
.krew_plugins @BrickCForce @Stanrofl @aidanleuck
.packages @BrickCForce @Stanrofl @aidanleuck
requirements.txt @BrickCForce @Stanrofl @aidanleuck

# File type patterns
*.toml @BrickCForce @Stanrofl @aidanleuck
*.json @BrickCForce @Stanrofl @aidanleuck
*.sh @BrickCForce @Stanrofl @aidanleuck
*.md @BrickCForce @Stanrofl @aidanleuck

# GitHub configuration (must be at the end to override default)
/.github/CODEOWNERS @BrickCForce @Stanrofl @aidanleuck

Update doc strings
  install.py
  installer/install.tcss
  tests/debug_generation.py
  tests/test_devcontainer_generation.py
  tests/test_devcontainer_simple.py
  tests/test_install.py
  tests/test_integration.py
  tests/test_screens.py
  tests/test_structure_preservation.py
Owners: @sarg3nt

Add Select All to tools
  install.py
  install.tcss
Owners: @sarg3nt

Set TUI header to "Dynamic Dev Container Setup"
  install.py
Owners: @sarg3nt

Improve back and next buttons
  install.py
  install.tcss
Owners: @sarg3nt

Improve extension selection adding other extensions
  install.py
  install.tcss
Owners: @sarg3nt

Improve copilot-instructions.md to match current config
  .github/copilot-instructions.md
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Remove non working refactor of install.py into separate files.
  install_new.py
  installer/__init__.py
  installer/app.py
  installer/config.py
  installer/files.py
  installer/install.tcss
  installer/main.py
  installer/screens/__init__.py
  installer/screens/basic.py
  installer/screens/headers.py
  installer/screens/mixins.py
  installer/screens/project.py
  installer/screens/tools.py
  installer/tools.py
  installer/utils.py
Owners: @sarg3nt

Reduce spacing betwen checkboxes Remove hard coded extensions in summary screen
  install.py
Owners: @sarg3nt

Change back button from summary to say it is going back to extensions
  install.py
Owners: @sarg3nt

Change back and next buttons to use << and >>
  install.py
Owners: @sarg3nt

Add extension links. That took a while
  install.py
  install.tcss
Owners: @sarg3nt

Remove unused functions.
  install.py
Owners: @sarg3nt

Rename all private and helper methods to start with __
  install.py
Owners: @sarg3nt

Move constants to a new file lib as beginning of breaking the file up into libraries
  install.py
  installer/__init__.py
  installer/constants.py
  tests/debug_generation.py
  tests/test_devcontainer_generation.py
  tests/test_devcontainer_simple.py
  tests/test_install.py
  tests/test_integration.py
  tests/test_screens.py
  tests/test_structure_preservation.py
Owners: @sarg3nt

Move projectconfig class to its own file.
  install.py
  installer/config.py
Owners: @sarg3nt

Move file_manager class to a lib
  install.py
  installer/file_manager.py
Owners: @sarg3nt

Move mise_parser, tool_manager and devcontainer_parser to libs
  install.py
  installer/devcontainer_parser.py
  installer/mise_parser.py
  installer/tool_manager.py
Owners: @sarg3nt

Moved utils to libs
  install.py
  installer/debug_utils.py
  installer/logging_utils.py
Owners: @sarg3nt

Move protocols to lib
  install.py
  installer/protocols.py
Owners: @sarg3nt

Move dependencies to lib
  install.py
  installer/dependencies.py
Owners: @sarg3nt

Move the welcome screen to a lib
  install.py
  installer/screens_welcome.py
Owners: @sarg3nt

navigation screen to lib
  install.py
  installer/screens_navigation.py
Owners: @sarg3nt

Python Project screen lib
  install.py
  installer/screens_python_project.py
Owners: @sarg3nt

Refactor: Move PythonRepositoryScreen to a dedicated module for better organization
  install.py
  installer/screens_python_repository.py
Owners: @sarg3nt

Refactor: Move ProjectConfigScreen to a dedicated module for better organization
  install.py
  installer/screens_project_config.py
Owners: @sarg3nt

Refactor: Add ToolVersionScreen for configuring tool versions
  install.py
  installer/screens_tool_version.py
Owners: @sarg3nt

Add Extension Selection Screen and after_extensions callback
  install.py
  installer/protocols.py
  installer/screens_extension_selection.py
Owners: @sarg3nt

Add ToolSelectionScreen and ToolSelectionConfigMixin for tool selection configuration
  installer/screens_tool_selection_config.py
  installer/screens_tool_selection_core.py
Owners: @sarg3nt

Add ToolSelectionEventMixin for handling events in ToolSelectionScreen
  installer/screens_tool_selection_events.py
Owners: @sarg3nt

Add ToolSelectionUrlMixin for managing URLs and package fields in ToolSelectionScreen
  installer/screens_tool_selection_urls.py
Owners: @sarg3nt

Add ToolSelectionActionMixin for managing tool selection actions and configuration saving
  installer/screens_tool_selection_actions.py
Owners: @sarg3nt

Refactor ToolSelectionEventMixin to use refresh_configuration method instead of refresh_controls; add test script for modular ToolSelectionScreen integration
  install_backup.py
  installer/screens_tool_selection_events.py
  test_modular_integration.py
Owners: @sarg3nt

Update Python version to 3.13.11 and enhance scripts for macOS compatibility
  .mise.toml
  Makefile
  dev.sh
  install.sh
  run.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Add multi-platform support with QEMU and Docker Buildx setup
  .github/workflows/container-test.yml
  .github/workflows/release-weekly.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
Owners: @sarg3nt

Add task file for M series Macintosh support
  TASKS.md
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Enhance multi-architecture support in workflows and Makefile
  .github/workflows/container-test.yml
  CLAUDE.md
  Makefile
  TASKS.md
  install.sh
Owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

Remove unused tools and aliases from .mise.toml
  .mise.toml
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Enhance M-series Macintosh support by pinning base images and updating paths for tools in devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/scripts/initialize_command.sh
  .devcontainer/scripts/log.sh
  Dockerfile
  Makefile
  TASKS.md
  home/vscode/.config/mise/config.toml
  scripts/10_install_system_packages.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Refactor kubectl plugin installation to skip batch retries and handle platform-unavailable plugins more gracefully
  .devcontainer/scripts/30_install_krew_plugins.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Refactor .gitignore to consolidate editor-specific entries and remove duplicates
  .gitignore
Owners: @sarg3nt
