Repository sarg3nt/dynamic-dev-container, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

Fix Harden runner blocking outbound traffic to package managers
  .github/workflows/container-test.yml
  .github/workflows/release-weekly.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
Owners: @sarg3nt

Remove exit code one have container test.
  .github/workflows/container-test.yml
Owners: @sarg3nt

Update dependabot updates to github actions less annoying
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @sarg3nt

Add permissions for auto-merge workflow and remove auto-approval step
  .github/workflows/dependabot-auto-merge.yml
Owners: @sarg3nt

Remove lodash dependency from package.json
  package.json
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Increase open-pull-requests-limit for GitHub Actions updates from 3 to 4
  .github/dependabot.yml
Owners: @sarg3nt

Updates to use the latest for the the base dev container and better defaults for the different package types.
  .devcontainer/Dockerfile
  .devcontainer/scripts/initialize_command.sh
  .packages
  requirements.txt
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Add Mise settings to disable update checks and notifications
  .devcontainer/devcontainer.json
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Fix issue with install.sh that was causing some sections in the devcontainer.json file to be duplicated
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Added pybuild.py and made needed changes to support it to install. Added docs for it
  PYTHON_REPOSITORY_CONFIG.md
  install.sh
  pybuild.py
  pyproject.toml
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Fix issues with pyproject.toml validation
  pyproject.toml
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Improve pyproject.toml
  PYTHON_REPOSITORY_CONFIG.md
  pyproject.toml
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Improve python install
  PYTHON_REPOSITORY_CONFIG.md
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Add python to .mise.toml so the user can choose what version to run. Update install.sh to install python and configure python package file
  .mise.toml
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Fix comma issues in devcontainer.json caused by install.sh
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Fixes for github token not injected in Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Log github token in install mise tools
  .devcontainer/scripts/20_install_mise_tools.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Fix install.sh not copying some extensions
  .mise.toml
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Fix install mise tools to properly remove the node section again.
  .devcontainer/scripts/20_install_mise_tools.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Fix linting errors in pybuild.py
  pybuild.py
Owners: @sarg3nt

Refactor pybuild.py to use best practices and remove only use hatch
  .mise.toml
  install.sh
  pybuild.py
  pyproject.toml
  requirements.txt
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Fix pybuild.py not publishing correctly
  pybuild.py
Owners: @sarg3nt

Fix missing function in install.sh
  install.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

Partially working version of install.py Much more work is needed
  install.py
Owners: @sarg3nt

Improve the install.py interface
  install.py
  install.tcss
Owners: @sarg3nt

Get versions from mise
  install.py
Owners: @sarg3nt

Improve text box size for version and checkbox layout.
  install.py
  install.tcss
Owners: @sarg3nt

install.py config.py tool config is working but not creating the project.
  .devcontainer/devcontainer.json
  install.py
  tests/__init__.py
  tests/conftest.py
  tests/test_install.py
  tests/test_integration.py
  tests/test_screens.py
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Fix linting error of except pass not getting logged
  install.py
Owners: @sarg3nt

Remove extra screen tool requirements screen
  install.py
Owners: @sarg3nt

devcontainer.json extensions and most settings now working
  install.py
  tests/test_devcontainer_generation.py
  tests/test_devcontainer_simple.py
  tests/test_structure_preservation.py
Owners: @sarg3nt

Basic install wokring
  install.py
  tests/debug_generation.py
Owners: @sarg3nt

Fix some extensions were not being copied.
  .devcontainer/devcontainer.json
  install.py
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

All current installables, extensions and settings are now working
  .devcontainer/devcontainer.json
  .mise.toml
  install.py
Owners: @BrickCForce, @Stanrofl, @aidanleuck, @sarg3nt

Fix linting errors in install.py
  install.py
Owners: @sarg3nt

Configuration of pyproject.toml mosting working now
  install.py
  install.tcss
  pyproject.toml
Owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

Github username now chaning on text box focus change
  install.py
Owners: @sarg3nt

Remove test install.py
  tests/test_install.py
Owners: @sarg3nt

Add missing types libraries.
  install.py
Owners: @sarg3nt

Removal of duplicate functions and minor refactoring
  install.py
Owners: @sarg3nt

.github/CODEOWNERS:

# Default owner for all files
* @sarg3nt

# Infrastructure and container configuration
/.devcontainer/ @BrickCForce @Stanrofl @aidanleuck
/home/ @BrickCForce @Stanrofl @aidanleuck
/scripts/ @BrickCForce @Stanrofl @aidanleuck
/usr/ @BrickCForce @Stanrofl @aidanleuck

# Configuration files
.krew_plugins @BrickCForce @Stanrofl @aidanleuck
.packages @BrickCForce @Stanrofl @aidanleuck
requirements.txt @BrickCForce @Stanrofl @aidanleuck

# File type patterns
*.toml @BrickCForce @Stanrofl @aidanleuck
*.json @BrickCForce @Stanrofl @aidanleuck
*.sh @BrickCForce @Stanrofl @aidanleuck
*.md @BrickCForce @Stanrofl @aidanleuck

# GitHub configuration (must be at the end to override default)
/.github/CODEOWNERS @BrickCForce @Stanrofl @aidanleuck
