Repository sarg3nt/dynamic-dev-container, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

.github/CODEOWNERS:

# Default owner for all files
* @sarg3nt

# Infrastructure and container configuration
/.devcontainer/ @BrickCForce @Stanrofl @aidanleuck
/home/ @BrickCForce @Stanrofl @aidanleuck
/scripts/ @BrickCForce @Stanrofl @aidanleuck
/usr/ @BrickCForce @Stanrofl @aidanleuck

# Configuration files
.krew_plugins @BrickCForce @Stanrofl @aidanleuck
.packages @BrickCForce @Stanrofl @aidanleuck
requirements.txt @BrickCForce @Stanrofl @aidanleuck

# File type patterns
*.toml @BrickCForce @Stanrofl @aidanleuck
*.json @BrickCForce @Stanrofl @aidanleuck
*.sh @BrickCForce @Stanrofl @aidanleuck
*.md @BrickCForce @Stanrofl @aidanleuck

# GitHub configuration (must be at the end to override default)
/.github/CODEOWNERS @BrickCForce @Stanrofl @aidanleuck

ci: rework dependabot + harden workflows + add PR niceties
  .github/auto-assign.yml
  .github/changelog-config.json
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/auto-assign.yml
  .github/workflows/code-quality.yml
  .github/workflows/container-test.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/release-weekly.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
Owners: @sarg3nt, @BrickCForce, @Stanrofl, @aidanleuck

fix: resolve ShellCheck findings exposed by gating the lint
  install.sh
  usr/local/bin/docker_init.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

ci: fix config-validator JSONC handling + Dockerfile hadolint DL4006
  .github/workflows/code-quality.yml
  Dockerfile
Owners: @sarg3nt

fix(build): remove build-time sudo so the image builds on CI buildkit
  scripts/10_install_system_packages.sh
  scripts/20_install_mise_tools.sh
  scripts/30_install_other_apps.sh
Owners: @BrickCForce, @Stanrofl, @aidanleuck

ci(container-test): authenticate mise's GitHub API calls during build
  .github/workflows/container-test.yml
Owners: @sarg3nt

ci: consolidate vuln scanning + stop baking the build token into the image
  .github/workflows/container-test.yml
  .github/workflows/release-weekly.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
  Dockerfile
Owners: @sarg3nt

ci(trivy): use egress-policy audit for the scanner job
  .github/workflows/trivy.yml
Owners: @sarg3nt

ci(trivy): bump trivy-action to v0.36.0
  .github/workflows/trivy.yml
Owners: @sarg3nt

fix(dependabot): one group per ecosystem (range deps weren't grouping)
  .github/dependabot.yml
Owners: @sarg3nt

ci(trivy): only scan on image-affecting PRs
  .github/workflows/trivy.yml
Owners: @sarg3nt
